*{
    font-family: 'KoHo', sans-serif;
}

.icon{
    width: 75px;
    height: 75px;
}

footer{
    display: flex;
}

/********************** form ******************************/

label{
    display: flex;
}
input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 250px;
    max-width: 50%;
}



